ClienteWS/Service References/ServiceReferenceWSEtiquetas/WSEtiquetas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.tecnologisticaconsultores.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.tecnologisticaconsultores.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.tecnologisticaconsultores.com/">
      <s:element name="EtiquetasWS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDRemito" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="format" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="size" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="separarPorDocumento" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="template" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EtiquetasWSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EtiquetasWSResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Response">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Archivos" type="tns:ArrayOfArchivo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfArchivo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Archivo" nillable="true" type="tns:Archivo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Archivo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="base64" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EtiquetasWSSoapIn">
    <wsdl:part name="parameters" element="tns:EtiquetasWS" />
  </wsdl:message>
  <wsdl:message name="EtiquetasWSSoapOut">
    <wsdl:part name="parameters" element="tns:EtiquetasWSResponse" />
  </wsdl:message>
  <wsdl:portType name="WSEtiquetasSoap">
    <wsdl:operation name="EtiquetasWS">
      <wsdl:input message="tns:EtiquetasWSSoapIn" />
      <wsdl:output message="tns:EtiquetasWSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSEtiquetasSoap" type="tns:WSEtiquetasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EtiquetasWS">
      <soap:operation soapAction="http://www.tecnologisticaconsultores.com/EtiquetasWS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSEtiquetasSoap12" type="tns:WSEtiquetasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EtiquetasWS">
      <soap12:operation soapAction="http://www.tecnologisticaconsultores.com/EtiquetasWS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSEtiquetas">
    <wsdl:port name="WSEtiquetasSoap" binding="tns:WSEtiquetasSoap">
      <soap:address location="http://localhost:51657/WSEtiquetas.asmx" />
    </wsdl:port>
    <wsdl:port name="WSEtiquetasSoap12" binding="tns:WSEtiquetasSoap12">
      <soap12:address location="http://localhost:51657/WSEtiquetas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>